#navbar
{
    background-color: var(--color_scheme1);
    min-height: 60px;
}

.menuOption:hover
{
  color: #fff;
  border: 5px solid var(--color_scheme1_lighter);
  background-color: var(--color_scheme1_light);;
  transition: 0.5s;
}

#menu
{

    margin: 0;
    padding: 0;
    display: flex;    
}

.menuOption
{
    background-color: var(--color_scheme1);
    border: 5px solid transparent; /* this is here so the element doesn't
     move when :hover and border: 5px solid is triggered */
    transition: 0.5s;
    text-align: center;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    color: var(--color_light);
    list-style: none;
    width: 20%;
}

.navbarElement
{
    color: white;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    text-decoration: none;
}

#menuBar
{
    padding: 10px;
    padding-right: 50px;
    height: 40px;
    margin: auto;
    display: none;
}

@media (max-width:1024px)
{
    #menuBar
    {
        display: block;
    }
    #navbar
    {
        
        /*position: absolute;*/
        width: 100%;
        /*height: calc(100vh - 500px);*/
        /*top:200px;*/
        transition: 0.5s;
    }
    #menu
    {
        display: block;
    }

    .menuOption{
        display: none;
        width: 100%;
    }

}

